* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #212121;
    line-height: 1.6;
}

header {
    background-color: #E53935;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    color: #FFEB3B;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 20px;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: #FFEB3B;
}

.inicio {
    background-color: #EEEEEE;
    padding: 50px 20px;
    text-align: center;
}

.inicio h1 {
    color: #E53935;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.botao {
    display: inline-block;
    background-color: #E53935;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
    transition: all 0.3s;
    border: 2px solid #E53935;
    cursor: pointer;
    margin-bottom: 10px;
}

.botao:hover {
    background-color: transparent;
    color: #E53935;

}

.botao-amarelo {
    background-color: yellow;
    color: #212121;
    border-color: #FFEB3B;
}

.secao-cardapio {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo-cardapio {
    color: #E53935;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.burguers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-burguer {
    width: 300px;
    border-radius: 10px;
    padding: 20px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.239);
    border: 1px solid #EEEEEE;
}

.img-burguer {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 10px;
    object-fit: cover;
}

.nome-hamburguer {
    color: #E53935;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.preco-burguer {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px ;
}

.descricao {
    margin-bottom: 1.5rem;
    color: #888;
}

.secao-sobre {
    background-color: #EEEEEE;
    padding: 50px 20px;
}

.container-sobre {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.img-sobre {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.texto-sobre {
    min-width: 300px;
    flex: 1;
}

.texto-sobre h2{
    color: red;
    font-size: 2rem;
    margin-bottom: 20px;
}

.texto-sobre p {
    margin-bottom: 1rem;
    font-size: 1.1rem
}

.secao-contato {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.info-contato {
    width: 100%;
    max-width: 400px;
    line-height: 2rem;
}

.info-contato h3 {
    color: #E53935;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-contato {
    min-width: 300px;
    border: 2px solid #888;
    padding: 20px;
    border-radius: 20px;
    flex: 1;
} 

.grupo-form {
    margin-bottom: 20px;
}

.grupo.form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.grupo-form input,
.grupo-form textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border:  1px solid #E53935;
}

.grupo-form textarea {
    height: 150px;
}

footer {
    background-color: #212121;
    color: white;
    padding: 30px 20px;
    text-align: center;
}